.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

#searchForm {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

#pokemonSearch {
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #9c9c9c;
    background-color:#e2e2e2;
    font-size: 14px;
    width: 600px;
    height: 30px;
    transition: border-color 0.3s;
}

#pokemonSearch:focus {
    border-color: #888;
    outline: none;
}

#pokemon_list, #pokemon_type{
    list-style: none;
    padding: 0;
    margin: 0; 
}

.pokemon_info{
    background-color: #ffffff;
    border-radius: 15px;
    padding: 0 15px;
    width: 250px;
    height: 300px;
    text-align: center;
    margin: 20px auto;
}

.card {
    background-color: #d75f54;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    padding: 0 15px;
    width: 280px;
    height: 450px;
    text-align: center;
    margin: 20px auto;
}

#pokemon_title{
    display: flex;
    justify-content: space-between;
}

#izena{
    color:white;
    font-size: 20px;
    font-weight: bold;
}

#zenbakia{
    padding: 0;
    color:rgb(180, 180, 180);
    font-size: 16px;
    font-weight: bold;
}

#pokemon_type{
    display: flex;
    justify-content: center;
}

#pokemon_type li{
    margin: 5px;
    background-color: #d75f54;
    border-radius: 15px;
    width: 60px;
}

.pokemon_neurriak{
    display: flex;
    justify-content: center;
}

.stat p{
    margin: 4px;
}

.stat{
    display: flex;
    justify-content: center;
    margin: 0;
}
