.sr-only {
    position: absolute;
    width: 0.06rem;
    height: 0.06rem;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.searchForm {
    margin-top: 1.25rem;
    width: 100%;
}

.pokemonSearch {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #9c9c9c;
    background-color:#e2e2e2;
    font-size: 0.9rem;
    width: min(90%, 25rem);
    transition: border-color 0.3s;
}

.pokemonSearch:focus {
    border-color: #888;
    outline: none;
}

.pokemon_list, .pokemon_type{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.card {
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1.2rem rgba(0,0,0,0.2);
    padding: 0 1rem;
    width: 95%;
    max-width: 26rem;
    height: 30rem;
    text-align: center;
    margin: 1.25rem auto;
    position: relative;
}

.pokemon_info{
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 0 0.6rem;
    height: 20rem;
    text-align: center;
    margin: 1.25rem auto;
    margin-top: 6rem;
}

.pokemon_title{
    display: flex;
    justify-content: space-between;
}

.izena{
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0.9rem;
}

.zenbakia{
    padding: 0;
    color:rgb(180, 180, 180);
    font-size: 1rem;
    font-weight: bold;
}

.pokemon_type{
    justify-content: center;
    padding-top: 4.3rem;
    color:white;
    font-size: 0.8rem;
}

.pokemon_type li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.3rem;
    background-color: #d75f54;
    border-radius: 1rem;
    padding: 0.15rem 1rem;
}

.pokemon_neurriak{
    display: flex;
    justify-content: center;
}

.pokemon_neurria{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.stat p{
    margin: 0.25rem;
}

.stat{
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra {
    width: 18rem;
    height: 0.5rem;
    background: #e5e5e5;
    border-radius: 0.6rem;
    overflow: hidden;
}

.progreso {
    height: 100%;
    background: #000;
    border-radius: 0.6rem;
}

.pokemon_img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3rem;
    bottom: -3.5rem;
    z-index: 2;
}

.pokemon_list{
    list-style: none;
    padding: 0;
    margin: 2.5rem 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    justify-items: center;
}

.inputWrapper {
    position: relative;
    display: inline-block;
}

.inputWrapper .icon {
    position: absolute;
    left: 0.6rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.2rem;
    height: 1.2rem;
    pointer-events: none; 
}

.inputWrapper .pokemonSearch {
    padding-left: 2.5rem; 
    height: 2.5rem;
}

@media (min-width: 64rem) {

    .pokemon_list{
        grid-template-columns: repeat(3, 1fr);
    }

    .card{
        width: 18rem;
    }

}

.card.grass { background-color: #78C850; }
.card.fire { background-color: #F08030; }
.card.water { background-color: #6890F0; }
.card.electric { background-color: #F8D030; }
.card.psychic { background-color: #F85888; }
.card.ice { background-color: #98D8D8; }
.card.dragon { background-color: #5913fd; }
.card.dark { background-color: #705848; }
.card.fairy { background-color: #EE99AC; }
.card.normal { background-color: #A8A878; }
.card.bug{ background-color:#4c6141;}
.card.poison{ background-color: #402385;}
.card.ground{ background-color: #67391a;}
.card.fighting{ background-color: rgb(109, 0, 0);}

.pokemon_detail_container ul{
    list-style: none;

}